'use babel';

import __PackageName__MessageDialog from './__package-name__-message-dialog';

module.exports = {

  activate() {
    inkdrop.components.registerClass(__PackageName__MessageDialog);
    inkdrop.layouts.addComponentToLayout('modals', '__PackageName__MessageDialog');
  },

  deactivate() {
    inkdrop.layouts.removeComponentFromLayout('modals', '__PackageName__MessageDialog');
    inkdrop.components.deleteClass(__PackageName__MessageDialog);
  }

};
